<!-- views/partials/header.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Mood Tracker</title>
</head>
<body>
	<header>
		<nav class="navbar navbar-default" role="navigation">
			<div class="navbar-header">
				<ul class="nav navbar-nav">
					<li><a href="/">Home</a></li>
					<li><a href="/about">About</a></li>	
				</ul>
			</div>
		</nav>
	</header>