<!DOCTYPE html>
<html lang="en">
<head>
	<title>moodhue</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Moment JS -->
	<script src="/vendor/moment/min/moment.min.js"></script>
	<!-- Bootstrap JS -->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	<!-- Local Files -->
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<script src="/static/js/app.js"></script>
</head>
<body>
	<!-- start header -->
	<header>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
				        <span class="icon-bar"></span>
			      	</button>
			    </div>
			    <div class="collapse navbar-collapse">
			      <ul class="nav navbar-nav">
			        <li class="active"><a href="#">History</a></li>
			      </ul>
			      <li><form method="post" action="/logout?_method=DELETE">
						<button class="pull-right" type="submit">Logout</button>
					</form></li>
				</div> <!-- .nav-collapse -->
			</div>
		</nav>
	</header>
		<!-- end header -->

		<!-- body -->
	<div id="page-wrapper" class="container">
		<main>
			<div class="jumbotron text-center">
				<div id="time"></div>
				<div class="row">
					<div class="mood btn" id="color1" role="button"></div>
					<div class="mood btn" id="color2" role="button"></div>
					<div class="mood btn" id="color3" role="button"></div>
				</div>	
				<div class="row">	
					<div class="mood btn" id="color4" role="button"></div>
					<div class="mood btn" id="color5" role="button"></div>
					<div class="mood btn" id="color6" role="button"></div>
				</div>	
				<div class="row">
					<div class="mood btn" id="color7" role="button"></div>
					<div class="mood btn" id="color8" role="button"></div>
					<div class="mood btn" id="color9" role="button"></div>
				</div>	
				<h1>How do you feel?</h1>
			</div>
		</main>
		<!-- footer -->
		<footer>
			<p class="footer navbar-fixed-bottom text-center text-muted">© 2015 Heather Stenson</p>
		</footer>
	</div>
</body>
</html>

