<!DOCTYPE html>
<html lang="en">
<head>
	<title>moodhue</title>
	<meta charset="UTF-8">
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<!-- jQuery -->
	<script src="/vendor/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap JS -->
  	<script src="/vendor/bootstrap/dist/js/bootstrap.min.js"></script>
  	<!-- Bootstrap CSS -->
  	<link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  	<!-- Local Files -->
  	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
  	<script src="/static/js/app.js"></script>
</head>
<body class="bg">
<div class="wrapper">
  <form class="form-signin" method="POST" action="/signup">
  	<h1 class="form-signin-heading text-center">moodhue</h1>
    <h2 class="welcome text-center">WELCOME</h2>
    <input type="email" class="form-control" name="email" placeholder="Email Address" autofocus="">
    <input type="password" class="form-control" name="passwordDigest" placeholder="Password">
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Account</button>
    <div class="user-status text-center">Already a user? <a href="/login">Log in!</a></div>
  </form>
</div>
</body>
</html>